<div class="col span-6-t debug">
<div class="chatbox">
	<p id="chatbox"></p>
</div>
<form class="send-chat">
	<label for="message">Chat:</label>
	<input id="message" type="text"/>
	<button id="button">Send</button>
</form>
</div>
</div>