<h1><%= title %></h1>
<form name="adduser" method="post" action="/users/create">
  <input type=text name="username" placeholder="username">
  <input type=text name="email" placeholder="email">
  <button type="submit">Sign up</button>
</form>
