* {
	box-sizing: border-box;
}

body {
	font: Helvetica, Arial;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

canvas {
	border: 2px solid #C4F3DA;
}

.chatbox {
	border: 2px solid #75E1CF;
	width: 500px;
	height: 100%;
}

.input-box {
	padding: 3px;
}

#message {
	width: 400px;
	line-height: 25px;
}

button {
	width: 50px; 
	background: rgb(130, 224, 255);
	border: none;
	padding: 10px;
}

.toolbar {
	width: 500px;
	height: 50px;
	border: 1px solid #75E1CF;
}

.tool {
	display: inline-block;
	margin: 10px;
	width: 30px; 
	height: 30px;
	text-align: center;
	border: 1px dotted gray;
}


